<div class="" style='width: 235px; margin: 30px auto;'>
  <nav aria-label="Page navigation" style=''>
    <ul class="pagination" style=''>
      <li class='no-left'>
        <a href="#" aria-label="Previous">
  <span aria-hidden="true">&laquo;</span>
</a>
      </li>
      <li class='now-page'><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
  <span aria-hidden="true">&raquo;</span>
</a>
      </li>
    </ul>
  </nav>
</div>
