<link rel='stylesheet' href='/stylesheets/ranking-1.css' />
<div class="widget-box col-md-3 col-xs-12">
  <div class="text-muted md10">
    <span>排序：</span>
    <div class="btn-group btn-group-xs">
      <a class="btn btn-default active">日热门</a>
      <a class="btn btn-default">周热门</a>
      <a class="btn btn-default">月热门</a>
    </div>
  </div>
  <!-- 日榜单 -->
  <ol id="userDaily" class='widget-top10'>
    <li class="text-muted">
      <img src="https://static.segmentfault.com/v-5964378c/global/img/user-64.png" alt="" class="avatar-24">
      <a href="" class="ellipsis">孙权</a>
      <span class="text-muted pull-right">+999</span>
    </li>

    <li class="text-muted">
      <img src="https://static.segmentfault.com/v-5964378c/global/img/user-64.png" alt="" class="avatar-24">
      <a href="" class="ellipsis">孙权</a>
      <span class="text-muted pull-right">+999</span>
    </li>
  </ol>
  <!-- 月榜单 -->
  <ol id="userWeekly" class='widget-top10 hide'>
    <li class="text-muted">
      <img src="https://static.segmentfault.com/v-5964378c/global/img/user-64.png" alt="" class="avatar-24">
      <a href="" class="ellipsis">孙权</a>
      <span class="text-muted pull-right">+999</span>
    </li>
  </ol>
  <!-- 月榜单 -->
  <ol id="userMonthly" class='widget-top10 hide'>
    <li class="text-muted">
      <img src="https://static.segmentfault.com/v-5964378c/global/img/user-64.png" alt="" class="avatar-24">
      <a href="" class="ellipsis">孙权</a>
      <span class="text-muted pull-right">+999</span>
    </li>
  </ol>
</div>
