<!-- 每个标签所属的单个页面中的介绍栏 -->

<link rel="stylesheet" href="/stylesheets/tagQdes.css">

<section class="tag-info tag_info">
  <div class="tag-k">
    <!-- <img class="tag-ico" src="#" alt="图片"> -->
    <!-- 标签名   -->
    <span class="tagName"><strong><%= tagName %></strong></span>
    <!-- 关注按钮 -->
    <div class="btn1">
      <button type="button" name="button" class="addTag-btn">关注</button>
    </div>
  </div>
  <!-- 介绍 -->
  <p class="tag-des1"><%= describe %></p>
</section>
