<div id="tishi1" style='display: none;' class='chuank'>
  <div id="sanjiao"></div>
  <div>
    <h5 id="title"><strong></strong></h5>
    <p id="tishi" class="describe"></p>
  </div>

  <hr style="margin:10px 0px">

  <ul class='list'>
  <li><a href="">查看</a></li>
  <li><a href="">编辑</a></li>
  <li><a href="">订阅</a></li>
  <li style="margin-left:40px;"><span id="pesNumber"></span>&nbsp;<span style="color:">人</span></li>
  <li><button id="btn1" class='like'>加关注</button></li>
</ul>
</div>
